.callOut {
  align-items: center;
  border-radius: 30px;
  background-image: url("../assets/greenbg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 930px;
  width: 60%;
}

.callOutContent {
  align-items: center;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 70%;
  padding-bottom: 2rem;
}

.callOutContent h3 {
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
}
.callOutContent p {
  font-size: 0.8rem;
}

.callOutBtns {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
}

.callOutBtns a {
  align-items: center;
  background-color: #fafafa;
  border-radius: 30px;
  color: #639800;
  display: flex;
  column-gap: 10px;
  font-weight: 600;
  font-size: 0.9rem;
  justify-content: center;
  margin-top: 2rem;
  padding: 0.4rem 0;
  width: 250px;
  transition: all 0.4s ease-in-out;
}

.callOutBtns a:hover {
  background-color: #00680d;
  color: #fafafa;
}
