#cookiesModal {
  background-color: rgba(0, 0, 0, 0.688);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  bottom: 0;
  display: flex;
  border: 1px solid #4d7600;
  border-bottom: none;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  flex-direction: column;
  row-gap: 0.3rem;
  left: 0;
  padding: 2rem 3rem;
  position: fixed;
  transform: translateY(101%);
  transition: all 0.4s ease-in-out;
  z-index: 99;
  width: 100%;
}

.activeModal {
  transform: translateY(0) !important;
}

.cookiesTitle {
  align-items: center;
  display: flex;
  column-gap: 0.5rem;
}

#cookiesModal h5 {
  color: white;
  font-size: 1.5rem;
  margin: 0 0 0.5rem;
}

#cookiesModal p {
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
}

.cookiesLink {
  color: #a6ff00;
  cursor: pointer;
  text-decoration: underline;
}

.cookiesBtn {
  display: flex;
  margin-top: 1rem;
  column-gap: 1rem;
}

.cookiesBtn button {
  color: white;
  padding: 0 2rem;
}

.closeBtn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bolder;
  right: 1rem;
  top: 0.5rem;
  transition: all 0.4s ease-in-out;
}

.closeBtn:hover {
  transform: scale(1.1);
}
