path,
g,
svg,
line,
polygon,
polyline {
  transition: all 0.4s ease-in-out;
}

.navBar {
  align-items: center;
  box-sizing: border-box;
  color: #f6f6f6;
  display: flex;
  font-size: 0.9rem;
  font-weight: 400;
  height: 56px;
  justify-content: space-between;
  position: fixed;
  margin-top: 1rem;
  padding: 2rem 3rem;
  transition: all 0.4s ease-in-out;
  width: 100%;
  z-index: 90;
}

.navBarActive {
  border-radius: 100px;
  box-sizing: border-box;
  margin: 0.5rem 5% 0;
  padding: 2rem 2rem;
  width: 90%;
}

.navBarActive::before {
  background-color: #141414d3;
  backdrop-filter: blur(5px);
  bottom: 0;
  border-radius: 100px;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.navLogo {
  width: 60px;
}

.navOptions {
  align-items: center;
  column-gap: 4rem;
  display: flex;
  transition: all 0.4s ease-in-out;
}

.navOptions a,
.subMenu {
  padding: 1rem;
  transition: all 0.4s ease-in-out;
}

.navOptions a:hover,
.subMenu:hover {
  color: #77b600;
}

.subMenuArrow {
  transition: all 0.4s ease-in-out;
}

.subMenu:hover .subMenuArrow {
  fill: #77b600;
  rotate: -90deg;
}

.navBarActive .navOptions {
  column-gap: 2rem;
}

.subMenu,
.subMenuTitle {
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
  display: flex;
  position: relative;
  z-index: 1;
}

.subMenu a {
  align-items: center;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  column-gap: 10px;
}

.subMenuContent {
  align-items: center;
  background-color: #141414d3;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  display: flex;
  height: 0;
  flex-direction: column;
  left: calc(50% - 65px);
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease-in-out !important;
  top: 56px;
  visibility: hidden;
  overflow: hidden;
  width: 130px;
  z-index: 1;
}

.navBarActive .subMenuContent {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.subMenuContent a {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: start;
  padding: 0 0 0 2rem;
  width: 100%;
}

.subMenuContent a:hover {
  background-color: #ffffffd9;
  color: #0d0d0d;
}

.subMenuContent a:hover .svgStroke {
  stroke: #0d0d0d;
}
.subMenuContent a:hover .svgFill {
  fill: #0d0d0d;
}

.subMenuContent.short a {
  height: 25%;
}

.subMenuContent.long a {
  height: 20%;
}

.subMenuContent {
  padding: 0 !important;
}

.subMenu:hover .subMenuContent {
  opacity: 1;
  visibility: visible;
}

.subMenu:hover .short {
  height: 220px;
}

.subMenu:hover .long {
  height: 300px;
}

.navButton {
  background-color: #77b600;
  border: none;
  border-radius: 50px;
  color: #f6f6f6;
  padding: 0.4rem 1.5rem !important;
}

.navButton:hover {
  background-color: #f0f0f0;
  color: #497000;
}

@media screen and (max-width: 1024px) {
  .navOptions {
    align-items: center;
    background-color: #141414;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    height: 100dvh;
    padding: 4rem 0;
    position: fixed;
    right: 0;
    row-gap: 1.5rem;
    top: 0;
    transform: translateX(105%);
    transition: all 0.4s ease-in-out !important;
    width: 100%;
  }

  .navOptions.openned {
    transform: translateX(0%);
  }

  .navButton {
    align-self: start;
    margin: 0.5rem 0 0 1.5rem;
    padding: 0.5rem 3rem !important;
  }

  .subMenu,
  .mobileNavLink {
    border-bottom: 1px solid lightgray;
    width: 80%;
    padding-left: 0 !important;
  }

  .mobileMenuBtn,
  .closeMenuBtn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }

  .closeMenuBtn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 99;
  }

  .subMenu {
    align-items: start;
    flex-direction: column;
    -webkit-tap-highlight-color: transparent;
  }

  .subMenuTitle {
    width: 100%;
  }

  .subMenuContentMobile {
    align-items: flex-start;
    background-color: #80808013;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
  }

  .subMenuContentMobile {
    align-items: flex-start;
    background-color: #80808013;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 0px !important;
    margin-top: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    width: 100%;
  }

  .short.activeSubMenu {
    height: 220px !important;
    margin-top: 1rem;
    opacity: 1;
  }

  .long.activeSubMenu {
    height: 300px !important;
    margin-top: 1rem;
    opacity: 1;
  }

  .subMenuContentMobile a {
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    justify-content: start;
  }

  .short a {
    height: 25%;
  }

  .long a {
    height: 20%;
  }

  .navOptions a:hover,
  .subMenu:hover {
    color: inherit;
  }

  .subMenu:hover .subMenuArrow {
    fill: #f6f6f6;
    rotate: unset;
  }

  .rotateArrow {
    rotate: -90deg !important;
  }
}
