.navBar {
  align-items: center;
  color: #f6f6f6;
  display: flex;
  font-size: 0.9rem;
  font-weight: 400;
  height: 56px;
  justify-content: space-between;
  position: fixed;
  padding: 1rem 3rem;
  width: calc(100% - 6rem);
  z-index: 99;
}

.navBarActive {
  background-color: #141414;
  margin-top: 0.5rem;
  padding: 0.2rem 1rem;
  width: 80%;
}

.navLogo {
  width: 70px;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.navOptions {
  align-items: center;
  column-gap: 4rem;
  display: flex;
}

.subMenu {
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
  display: flex;
}

.navButton {
  background-color: #77b600;
  border: none;
  border-radius: 50px;
  color: #f6f6f6;
  padding: 0.4rem 1.5rem;
}

.carouselActions {
  column-gap: 2rem;
  display: flex;
  justify-content: center;
}

.hoverAction {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #77b600;
  border-radius: 50px;
  display: flex;
  height: 38px;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 200px;
}

.hoverAction span {
  position: relative;
  z-index: 1;
}

.hoverAction::before {
  align-items: center;
  background-color: #77b600;
  border-radius: 50px;
  content: "";
  height: 42px;
  position: absolute;
  transform: translateX(-101%);
  transition: all 0.6s ease-in-out;
  width: 202px;
  z-index: 0;
}

.hoverAction:hover::before {
  transform: translateX(0);
}
