path,
g,
svg,
line,
polygon,
polyline {
  transition: all 0.4s ease-in-out;
}

.navBar {
  align-items: center;
  box-sizing: border-box;
  color: #f6f6f6;
  display: flex;
  font-size: 0.9rem;
  font-weight: 400;
  height: 56px;
  justify-content: space-between;
  position: fixed;
  margin-top: 1rem;
  padding: 2rem 3rem;
  transition: all 0.4s ease-in-out;
  width: 100%;
  z-index: 99;
}

.navBarActive {
  border-radius: 100px;
  box-sizing: border-box;
  margin: 0.5rem 5% 0;
  padding: 2rem 2rem;
  width: 90%;
}

.navBarActive::before {
  background-color: #141414d3;
  backdrop-filter: blur(5px);
  bottom: 0;
  border-radius: 100px;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.navLogo {
  width: 60px;
}

.navOptions {
  align-items: center;
  column-gap: 4rem;
  display: flex;
  transition: all 0.4s ease-in-out;
}

.navOptions a,
.subMenu {
  padding: 1rem;
  transition: all 0.4s ease-in-out;
}

.navOptions a:hover,
.subMenu:hover {
  color: #77b600;
}

.subMenuArrow {
  transition: all 0.4s ease-in-out;
}

.subMenu:hover .subMenuArrow {
  fill: #77b600;
  rotate: 90deg;
}

.navBarActive .navOptions {
  column-gap: 2rem;
}

.subMenu {
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
  display: flex;
  position: relative;
  z-index: 1;
}

.subMenu a {
  align-items: center;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  column-gap: 10px;
}

.subMenuContent {
  align-items: center;
  background-color: #141414d3;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  display: flex;
  height: 0;
  flex-direction: column;
  left: calc(50% - 65px);
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease-in-out !important;
  top: 56px;
  visibility: hidden;
  overflow: hidden;
  width: 130px;
  z-index: 1;
}

.navBarActive .subMenuContent {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.subMenuContent a {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: start;
  padding: 0 0 0 2rem;
  width: 100%;
}

.subMenuContent a:hover {
  background-color: #ffffffd9;
  color: #0d0d0d;
}

.subMenuContent a:hover .svgStroke {
  stroke: #0d0d0d;
}
.subMenuContent a:hover .svgFill {
  fill: #0d0d0d;
}

.subMenuContent.short a {
  height: 25%;
}

.subMenuContent.long a {
  height: 20%;
}

.subMenuContent {
  padding: 0 !important;
}

.subMenu:hover .subMenuContent {
  opacity: 1;
  visibility: visible;
}

.subMenu:hover .short {
  height: 220px;
}

.subMenu:hover .long {
  height: 300px;
}

.navButton {
  background-color: #77b600;
  border: none;
  border-radius: 50px;
  color: #f6f6f6;
  padding: 0.4rem 1.5rem !important;
}

.navButton:hover {
  background-color: #f0f0f0;
  color: #497000;
}

.carouselActions {
  column-gap: 2rem;
  display: flex;
  justify-content: center;
}
