.processosContainer {
  align-items: start;
  column-gap: 2rem;
  display: flex;
  justify-content: space-evenly;
  max-width: 930px;
  margin-top: 1rem;
  text-align: center;
  width: 70%;
  overflow: hidden;
}

.processoNumber {
  color: #77b600;
  font-size: 6.5em;
  position: relative;
}

.animationUp {
  transform: translateX(80%);
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  .processosContainer {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    row-gap: 1rem;
  }
  .processoNumber {
    font-size: 5.5em;
  }
}
