.sobreContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 930px;
  padding-top: 2rem;
  width: 60%;
  overflow: hidden;
}

.sobreContainer p {
  color: #686868;
}

.sobreIndividual {
  transition: all 0.8s ease-in-out;
  padding: 0 2rem 2rem;
  border-radius: 30px;
}

.sobreIndividual:hover {
  background-color: #76b6001d;
}

.sobreTitle {
  align-items: center;
  display: flex;
  column-gap: 1rem;
  width: 100%;
}

.sobreTitle h3 {
  font-size: 1.7rem;
}

.descriptionSobre {
  color: #092d00;
  font-weight: bolder;
  font-size: 0.9rem;
  margin-top: 0.7rem;
}

.numberSobre {
  margin-top: 3rem;
  justify-content: space-between;
  max-width: 930px;
  width: 60%;
}

.left {
  justify-content: flex-start;
}
.right {
  justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
  .sobreContainer {
    width: calc(100% - 2rem);
  }

  .right {
    flex-direction: row-reverse;
    text-align: right;
  }

  .sobreTitle h3 {
    font-size: 1.3rem;
  }

  .numberSobre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 2rem;
    margin-top: 0;
  }

  .numberSobre .numbersContent {
    text-align: center;
    font-weight: 600;
  }

  .numberSobre .descriptionSobre {
    font-size: 0.8rem;
  }
}
