.modalidadesContainer {
  column-gap: 5rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 150px 150px;
  max-width: 930px;
  padding: 3rem 0 0;
  width: 65%;
}

.modalidade {
  align-items: center;
  border-radius: 15px;
  column-gap: 2rem;
  display: flex;
  transition: all 0.4s ease-in-out;
}

.modalidade:hover {
  box-shadow: 0px 13px 10px -11px #092d0092;
}

.svgModalidadeContainer {
  width: 70px;
}

.modalidadeDetails {
  row-gap: 0.7rem;
  display: flex;
  flex-direction: column;
  width: calc(100% - 70px);
}

.detailsTitle {
  font-weight: bold;
}

.detailsDescription {
  color: #8d8d8d;
  font-size: 0.85rem;
}

.servicesSvg {
  stroke-width: 3px;
}

@media screen and (max-width: 1024px) {
  .modalidadesContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    width: calc(100% - 3rem);
  }

  .modalidade:hover {
    box-shadow: none;
  }
}
