:root {
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #77b600;
  border-radius: 10px;
}

html,
body {
  box-sizing: border-box;
}

body,
html,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.audiowideFont {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  font-size: 2.3rem;
}

.title span {
  color: #77b600;
}

.subtitle {
  color: #686868;
  text-align: center;
  width: 40%;
}

.sectionStyle {
  align-items: center;
  row-gap: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0 1rem;
  width: 100%;
}

.linkWithArrow {
  align-items: center;
  background-color: #77b600;
  border: 1px solid #77b600;
  border-radius: 50px;
  column-gap: 0.5rem;
  display: flex;
  margin-top: 3rem;
  padding: 0.7rem 2rem 0.7rem 2rem;
  transition: all 0.4s ease-in-out;
}

.linkWithArrow:hover {
  background-color: #f5f3f4;
  border-color: #639800;
  color: #639800;
}

.divArrow {
  display: flex;
  height: 24px;
  column-gap: 2px;
  overflow: hidden;
  width: 25px;
}

.arrowHoverEffect {
  display: flex;
  column-gap: 2px;
  height: 24px;
  width: 48px;
}

.arrowHoverEffect svg {
  transform: translateX(-101%);
}

.linkWithArrow:hover .arrowHoverEffect svg,
.callOutBtns a:hover .arrowHoverEffect svg {
  transform: translateX(0);
}

.differentSection {
  background-color: #fafafa;
  padding-top: 3rem !important;
}
