:root {
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #77b600;
  border-radius: 10px;
}

html,
body {
  box-sizing: border-box;
}

body,
html,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.audiowideFont {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  font-size: 2.3rem;
}

.title span {
  color: #77b600;
}

.subtitle {
  color: #686868;
  text-align: center;
  width: 40%;
}

.sectionStyle {
  align-items: center;
  row-gap: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0 1rem;
  width: 100%;
}

.linkWithArrow {
  align-items: center;
  background-color: #77b600;
  border: 1px solid #77b600;
  border-radius: 50px;
  column-gap: 0.5rem;
  display: flex;
  margin-top: 3rem;
  padding: 0.7rem 2rem 0.7rem 2rem;
  transition: all 0.4s ease-in-out;
}

.linkWithArrow:hover,
.upAndCookies button:hover {
  background-color: #f5f3f4;
  border-color: #639800;
  color: #639800;
}

.divArrow {
  display: flex;
  height: 24px;
  column-gap: 2px;
  overflow: hidden;
  width: 25px;
}

.arrowHoverEffect {
  display: flex;
  column-gap: 2px;
  height: 24px;
  width: 48px;
}

.arrowHoverEffect svg {
  transform: translateX(-101%);
}

.linkWithArrow:hover .arrowHoverEffect svg,
.callOutBtns a:hover .arrowHoverEffect svg {
  transform: translateX(0);
}

.differentSection {
  background-color: #fafafa;
  padding-top: 3rem !important;
}

.upAndCookies {
  align-items: center;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 2%;
  row-gap: 10px;
  transition: all 0.4s ease-in-out;
}

.upAndCookies button {
  align-items: center;
  display: flex;
  background-color: #77b600;
  border-radius: 100%;
  border: 1px solid #77b600;
  cursor: pointer;
  padding: 10px;
  transition: all 0.4s ease-in-out;
}

.upArrowSvgContainer {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.upArrowSvgActive {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}

.upAndCookies button:hover .upArrowSvg {
  fill: #639800;
}
.upAndCookies button:hover .cookieSvg {
  fill: #639800;
  transform: rotateX(360deg);
}

.cookieSvg {
  padding: 4px !important;
}

footer {
  align-items: center;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  width: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  row-gap: 4rem;
  width: 80%;
}

.footerSmallContainers {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

.footerSmallContainers h5 {
  color: #f5f3f4;
  font-size: 1.2rem;
  margin: 0 0 0.5rem 0;
}

.footerSmallContainers a {
  font-size: 0.8rem;
  font-weight: 500;
}

.footerSmallContainers h5 span {
  color: #77b600;
}

.footerSmallContainers p {
  color: #f5f3f4;
  font-size: 0.8rem;
}
.justifyP {
  text-align: justify;
}

.footerLogo {
  width: 120px;
}

.socialMediaIcons {
  display: flex;
  column-gap: 20px;
}

.socialMediaIcons a {
  padding: 3px 6px;
}

.footerLinkWSvg {
  align-items: center;
  column-gap: 5px;
  display: flex;
  transition: all 0.4s ease-in-out;
}

.footerLinkWSvg:hover {
  color: #a6ff00;
}

.socialMediaIcons a:hover .iconsFooter,
.footerLinkWSvg:hover .iconsFooter {
  fill: #a6ff00;
}

.footerLinkWSvg:hover .iconsFooterStroke {
  stroke: #a6ff00;
}

.paymentOptions {
  display: flex;
  column-gap: 20px;
}

.paymentOptions img {
  width: 40px;
}

.prrBarra {
  max-width: 600px;
}

.newsletter {
  align-items: center;
  display: flex;
  column-gap: 10px;
}

.newsletter input {
  border-radius: 15px;
  border: 2px solid transparent;
  padding: 0.3rem 0.5rem;
}

.newsletter input:focus {
  outline: none;
  border-color: #77b600;
}

.newsletter button {
  align-items: center;
  border: none;
  border-radius: 15px;
  display: flex;
  padding: 0.4rem;
  background-color: #77b600;
}

.flexContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  row-gap: 1rem;
  width: 80%;
}

.flexContainer hr {
  width: 100%;
}

.footerCopyRight {
  color: #f5f3f4;
  display: flex;
  column-gap: 3rem;
  justify-content: center;
  font-size: 14px !important;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.copyRightLink {
  color: #e9cd8f;
}

.copyRightLastLinks {
  column-gap: 2rem;
  display: flex;
  min-width: 500px;
}
